/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(231, 234, 236);
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* Navigation Bar: Logo and Image */
#logo img {
    height: 60px;
    width: 60px;
}

#logo {
    margin: 3px 5px;
}

/* Navigation Bar: List styling */

#navbar ul {
    display: flex;
}

#navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.45;
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    font-family: 'PT Serif', serif;
    flex-direction: column;
    padding: 3px 200px;
    height: 540px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    position: absolute;
    background: url('bg.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 25px;
    border-radius: 28px;
    background: rgb(206, 195, 195);
    margin-bottom: 25px;
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 15px;
}

/* Client Section */
#client-section{
    position: relatives;
    /* height: 433px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg');
    height: 39%;
    width: 100%;
    z-index: -1;
    opacity: 0.35;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('../Contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-family: 'PT Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: orchid;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}